---
import Header from '../components/Header.astro'
import Aside from '../components/Aside.astro'

const fm = Astro.props.frontmatter ?? {}
const title = fm.title ? `${fm.title} - Nymoréa` : 'Nymoréa'
const url = new URL(fm.url, 'https://nymorea.com').href
const image = fm.image?.url ? new URL(fm.image.url, 'https://nymorea.com').href : undefined
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={fm ? 'article' : 'website'} />
    <meta property="og:site_name" content="Nymoréa" />
    <meta property="og:locale" content="ja_JP" />
    {image && <meta property="og:image" content={image} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nymoreax" />
    <meta name="description" content="Nymoréa Website" />
    <meta name="author" content="Nymoréa" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js" defer></script>
  </head>
  <body class="bg-neutral-300 text-zinc-900 dark:bg-zinc-900 dark:text-neutral-300">
    <Header />
    <div class="container grid grid-cols-1 gap-12 pt-8 lg:grid-cols-[1fr_240px] lg:pt-8">
      <main>
        <slot />
      </main>
      <Aside />
    </div>
    <footer class="container mt-48 flex h-12 items-center">
      <div class="text-sm">Copyright © Nymoréa. All Rights Reserved.</div>
    </footer>
  </body>
</html>
